@using JAICT.Blazor.Recipes.UI.Client.Mvvm.View
@using JAICT.Blazor.Recipes.UI.Client.ViewModels
@inherits ViewComponentBase<SelectionItemViewModel>

<option value=@ViewModel.Index>@ViewModel.Description</option>